$padding: 1rem 1.875rem;

#auth {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    width: 47.5rem;
    overflow: hidden;

    .ant-card-body {
      padding: 0;

      .slide {
        color: var(--bg);
        background-color: var(--blue);
        padding: $padding;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
        height: 100%;

        .texts {
          p {
            text-align: justify;
            line-height: 30px;
            margin-top: 1rem;
          }
        }

        .btn-nav {
          max-width: 100px;
          border-color: var(--bg);
          background-color: transparent;
          color: var(--bg);
        }

        .socials {
          display: flex;
          list-style: none;
          gap: 1rem;
          justify-content: center;
          padding: 0;
          margin-top: 2rem;

          svg {
            color: var(--bg);
          }
        }
      }

      .content {
        padding: $padding;

        .inner {
          color: var(--text);
          display: flex;
          flex-direction: column;
          gap: 1rem;

          .title {
            padding: 0;
            display: flex;
            flex-direction: column;
          }

          .action {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 0.625rem;

            button {
              gap: 0.25rem;

              &.ant-btn-link {
                padding: 0;
              }

              &:not(.ant-btn-link) {
                width: 90px;
              }
            }
          }
        }
      }
    }
  }

  .mob-nav {
    display: none;

    a {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  @media (max-width: $xs) {
    width: 100%;

    .card {
      border: none !important;
    }

    .mob-nav {
      display: flex;
    }
  }

  @import './login';
  @import './signup';
  @import './verify';
}